#root, .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.form > * {
  margin: 10px;
}
